@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;600;800&display=swap');

.container-nav{
    margin: 0;
    width: 100%;
    height: 15%;
    padding-top: 0;
    padding-bottom:0;
    display:flex;
    background-color: transparent;
    flex-direction: row;
    align-items:center;
    text-align: center;
    justify-content: space-between;
}

.nav-title{
    color: #FFC200;
    margin-left: 70px;
    width: 150px;
}

@media (max-width: 910px) {
    .nav-title{
        width: 120px;
    }
}

@media (max-width: 430px) {
    .container-nav{
        height: 10%;
    }
    .nav-title{
        width: 80px;
    }
}
