@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;600;800&display=swap');

.container-nav{
    margin: 0;
    width: 100%;
    max-height: 100px;
    height:15%;
    padding-top: 0;
    padding-bottom:0;
    display:flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    justify-content: space-between;
    z-index: 2;
    background: transparent;
    -webkit-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    transition: background 300ms linear;
    backdrop-filter: blur(10px);
    opacity: 95%;
}

.nav-scroll{
    background: black;
}

.cont-sb{
    height:100%;
    padding:0;
    width:max-content;
    margin-left: 70px;
}

.nav-title{
    color: #FFC200;
    width: 110px;
    margin-left: 70px;
}

@media (max-width: 910px) {
    .nav-title{
        width: 120px;
    }
}

@media (max-width: 430px) {
    .container-nav{
        height: 10%;
    }
    .nav-title{
        width: 80px;
    }
}
