.App{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    background: linear-gradient(-45deg, #000000, #151004, #000000, #151004)
    /* background: linear-gradient(-45deg, #000000, #151004, #000000, #151004);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container-main-cards{
    display: flex;
    flex-direction: row;
}

