.container-creater{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("../../assets/lp/1x/bg-home.png");
    background-attachment: fixed;
    background-size: cover;
}

.container-form{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC200;
    border-radius: 10px;
    width:90%;
    height: 90%;
}

.cont-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 86%;
    width:100%;
}

.title-form-cont{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block-form{
    width:49%;
    height:85%;
}

.back-btn{
    width: 50px;
    height: max-content;
    background-color: transparent;
    background: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    border: none;
    display: flex;
    position:relative;
    bottom:20%;
    right:32%;
    margin-left:20px;
    justify-content: flex-start;
    
}

.back-btn:hover{
    cursor:pointer;
    color:wheat;
    text-shadow: 10px 10px 72px 5px wheat;
 
}

.title-form{
    width: max-content;
    height: max-content;
    font-family:'gloss_and_bloomregular';
    align-items: center;
    font-size: 2.5rem;
    padding-top: 18px;
}


.sec1{
    width:100%;
    height:55%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.sec2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:40%;
}

.sec3{
    width:100%;
    height:62%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding-top:5px;
}

.sec4{
    width:100%;
    height:32%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.input-form{
    width:85%;
    height: 1.8rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    padding-left:15px;
    border: none;
    color:rgb(19, 19, 19)
}

.input-step{
    width: 80%;
    height: 1.8rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    padding-left:15px;
    border: none;
    color:rgb(19, 19, 19)
}

.error-style{
    margin: 0;
    width: max-content;
    height: max-content;
    color: rgb(104, 104, 104);
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    align-items: center;
}

.aproved-style{
    margin: 0;
    width: max-content;
    height: max-content;
    color: rgb(0, 161, 48);
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    align-items: center;
}

.textarea{    
    width:85%;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.67rem;
    padding-left:15px;
    padding-top:10px;
    border: none;
    height: 100px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    color:rgb(19, 19, 19);
}

.hs-diets-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88%;
    height: 1.8rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    color:rgb(19, 19, 19);
    background-color: transparent;
}

.hs-cr-cont{
    margin:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    width:50%;
    height:100%;
    
}

.hs-counter{
    height: 100%;
    width:30px;
    background-color: black;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#FFC200;
    border: none;
}

.hs-counter:hover{
    border: solid 2px #FFC200;
    box-shadow: 3px 1px 20px 5px #FFC200;;
    cursor: pointer;
}

.hs-cr-input{
    height:100%;
    width: 70%;
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    padding:0;
    border:none;
}

.diets-cr-cont{
    margin-bottom: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:50%;
    height:100%;
    
}

.select-filter-create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 94%;
    height: 100%;
    border:none;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    padding-left:15px;
    color: black;
}

.options-cr-cont{
    width:88%;
    height:max-content;
    max-height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px;

}

.option-selected-create{
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 1.8rem;
    width: 45%;
    display: flex;
    flex-direction: row;
    border: 2px solid #000000;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    color: #000000;
}

.sec2-box1{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 0;
}

.sec2-box2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sec2-btns{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5%;
}

.add-step{
    width:30%;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 1.8rem;
    border: none;
    background-color: black;
    color: #FFC200;
}

.add-step:hover{
    cursor:pointer;
    color:black;
    background-color: white;

}


.submit-btn{
    margin: 0;
    width: 55%;
    height: 1.8rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    color: #FFC200;
    background-color: black;
    padding: 10px 28px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.submit-btn:disabled{
    margin: 0;
    width: 55%;
    height: 1.8rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    color: rgb(70, 70, 70);
    background-color: #818181;
    padding: 10px 28px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

.submit-btn:disabled:hover{
    margin: 0;
    width: 55%;
    height: 1.8rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    color: rgb(70, 70, 70);
    background-color: #818181;
    padding: 10px 28px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

.submit-btn:hover{
    background-color: #fff;
    color: #FFC200;
    box-shadow: 3px 1px 18px 5px #FFC200;
    border: none;
}

.gg-close{
    width:6%;
    height:100%;
    background-color: black;
    color:#FFC200;
    margin:0;
    padding:0;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 13px;
}

.gg-close:hover{
    cursor:pointer
}

.logo-form{
    padding:15px;
}

.input-btn-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:0;
    display: 0;
    width: 100%;
    height: max-content;
}

.step-empty-input{
    width: 85%;
    height: 1.6rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    padding-left:15px;
    border: 2px solid black;
    border-style: dashed;
    color:rgb(19, 19, 19)
}