.Home{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    background-image: url("../../assets/lp/1x/bg-home.png");
    background-attachment: fixed;
    background-size: cover;
    
}

::-webkit-scrollbar {
    display: none;
}

.container-main-cards{
    max-width: 100vw;
    height: 63%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}