.container-card{
    display: flex;
    flex-direction: column;
    margin:15px;
    width:250px;
    height:360px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -9px 13px 34px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 13px 34px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 13px 34px -13px rgba(0,0,0,0.75);
    text-decoration: none;
    align-items: center;
}
.container-card:hover{
    box-shadow: -9px 13px 34px -13px #FFC200;
    -webkit-box-shadow: -9px 13px 34px -13px #FFC200;
    -moz-box-shadow: -9px 13px 34px -13px #FFC200;
    
}

.card-item-cont{
    width:250px;
    height:360px;
}

.r-name-cont{
    display: flex;
    justify-content: flex-start;
    width:100%;
    height: max-content;
}

.r-name{
    padding:0;
    margin:0;
    padding-left:15px;
    padding-right:15px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
    text-align: start;
    align-items: center;
    justify-content: flex-start;
}

.r-hs{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left:15px;
    padding-right:15px;
    color: black;
    text-align: center;
    height: 30px;
    font-size: 15px;
}

.r-summary{
    padding:0;
    margin:0;
    padding-left:15px;
    padding-right:15px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: black;
    text-align: start;
    margin-top: 10px;
}

.img-card{
    width:250px;
    max-height:250px;
    border-radius: 5px 5px 0 0;
}

.card-title-summary{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}