 .container-searchBar{
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding:0;
    width: max-content;
    height:35px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.search-input{
    padding: 0;
    width:200px;
    height: 35px;
    margin:0;
    font-family: 'Alexandria', sans-serif;
    padding-left: 15px;
    border: 1px solid #FFC200;
    background-color: transparent;
    font-weight: 600;
    color:#FFC200;
}


.searchBar-button{
    margin:0;
    height: 36px;
    width: 36px; 
    color: rgb(0, 0, 0);
    background-color: #FFC200;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #FFC200;
}

.searchBar-button:hover{
    background-color: #fff;
    color: #FFC200;
    box-shadow: 3px 1px 78px 19px #FFC200;
    border: 1px solid white;
}

.s-icon{
  width:50px
}

