.pagination{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top:100px;
    gap: 10px;
    position:fixed;
    height:max-content;
    background: transparent;
    -webkit-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    transition: background 300ms linear;
    opacity: 95%;
    z-index: 2;
}

.pag-button-disabled{
    width:26px;
    height: 26px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color:#FFC200;
    border: 1px solid #FFC200;
}

.pag-button-active{
    width:26px;
    height: 26px;
    text-align: center;
    align-items: center;
    background-color: #FFC200;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:white;
    border: 1px solid #FFC200;
}

.pag-pr-nx{
    width:26px;
    height: 26px;
    text-align: center;
    align-items: center;
    background-color: #FFC200;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:white;
    border: 1px solid #FFC200;
}

.pag-pr-nx:hover{
    border: solid 2px #FFC200;
    box-shadow: 3px 1px 20px 5px #FFC200;
    cursor: pointer;
}

.pag-button-disabled:hover{
    border: solid 2px white;
    background-color: white;
    box-shadow: 3px 1px 20px 5px #FFC200;
    cursor: pointer;
}

.pag-button-active:hover{
    cursor: pointer;
}

.count-pagination{
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFC200;
}

@media (max-width: 768px){
    .pag-button-disabled{
        width:25px;
        height:25px;
        font-size:10px;
    }
    .pag-button-active{
        width:25px;
        height:25px;
        font-size:10px;
    }
    .pag-pr-nx{
        width:25px;
        height:25px;
        font-size:10px;
    }
    .count-pagination{
        font-size: 10px;
    }
}