.pagination{
    width: 100%; 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    height:100%;
}

.pag-button-disabled{
    width:36px;
    height: 36px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:#FFC200;
    border: 1px solid #FFC200;
}

.pag-button-active{
    width:36px;
    height: 36px;
    text-align: center;
    align-items: center;
    background-color: #FFC200;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:white;
    border: 1px solid #FFC200;
}

.pag-pr-nx{
    width:36px;
    height: 36px;
    text-align: center;
    align-items: center;
    background-color: #FFC200;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:white;
    border: 1px solid #FFC200;
}

.pag-pr-nx:hover{
    border: solid 2px #FFC200;
    box-shadow: 3px 1px 20px 5px #FFC200;
    cursor: pointer;
}

.pag-button-disabled:hover{
    border: solid 2px white;
    background-color: white;
    box-shadow: 3px 1px 20px 5px #FFC200;
    cursor: pointer;
}

.pag-button-active:hover{
    cursor: pointer;
}

.count-pagination{
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFC200;
}

