@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;600;800&display=swap');

.lp-container{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    background-image: url("../../assets/lp/1x/bg-home_Mesa\ de\ trabajo\ 1-01.png");
    background-attachment: fixed;
    background-size: cover;
}

.bg-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding:0;
    background-image: url('../../assets/lp/1x/SVG/bg-lp-yellow.svg');
    background-size:auto;
    background-repeat: no-repeat;
    background-position:right;
}

.title-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position:relative;
    left:10%;
}

.title{
    width: 100%;
}

.intro-app{
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    color:khaki;
    font-size: 18px;
    text-align: center;
    width: 250px;
}

.food-img{
    width:60%;
    margin-left: 160px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.enter-btn{
    height: 20px;
    width: 150px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    padding: 10px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFC200;
    border: 1px solid #FFC400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.enter-btn:hover{
    border: 1px solid #FFC400;
    color: #FFC200;
    background-color: transparent;
    text-shadow: 0em 0em 0.2em #FFC200;  
    
}

.icons-lp{
    width: 100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.i-lp{
    width:30px
}

a{
    width: max-content;
    height: max-content;
    margin:0;
    padding:0;
    
}

@media (max-width: 1164px) {
    .bg-yellow{
        background-image: url('../../assets/lp/1x/food-lp.png');
        background-size: cover;
        background-position: 0 50px;
        width: 50%;
        height:40%
    }
    .lp-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .food-img{
        opacity: 0%;
        height:100%;
        margin-left:0;
    }
    .title-container{
        height:60%;
        width:40%;
        left:0;
        justify-content: end;
    }

    .enter-btn{
        width:140px;
        height: 20px;
        font-size:1rem;
    }
    .i-lp{
        width:30px
    }
}

@media (max-width: 1164px){
    .title{
        width:30vh;
    }
    .intro-app{
        font-size:10px;
    }
    .title-container{
        height:50%;
        width:50%;
        left:0;
        justify-content: center;
    }
    .enter-btn{
        width:120px;
        height: 20px;
        font-size:0.8rem;
    }
    .i-lp{
        width:30px
    }
    .bg-yellow{
        background-position: center;
        width:30vh;
    }
}

@media (max-width: 430px){
    .intro-app{
        font-size:10px;
    }
    .enter-btn{
        width:90px;
        height: 15px;
        font-size:0.6rem;
    }
    .bg-yellow{  
        background-size: 136%;
    }
    .title{
        width:30vh;
        margin-left:10px;
    }
}
