@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;600;800&display=swap');

.lp-container{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    background-image: url("../../assets/lp/1x/bg-home_Mesa\ de\ trabajo\ 1-01.png");
    background-attachment: fixed;
    background-size: cover;
}

.bg-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding:0;
    background-image: url('../../assets/lp/1x/SVG/bg-lp-yellow.svg');
    background-size:auto;
    background-repeat: no-repeat;
    background-position:right;
}

.title-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position:relative;
    left:10%;
}

.title{
    width: 100%;
}

.intro-app{
    font-family: 'Alexandria', sans-serif;
    font-weight: 200;
    color:white;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
}

.food-img{
    width:60%;
    margin-left: 160px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.enter-btn{
    height: 20px;
    width: 150px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 10px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFC200;
    margin-top: 30px;
    margin-bottom: 30px;
}

.enter-btn:hover{
    color: #FFC200;
    background-color: black;
    text-shadow: 0em 0em 0.2em #FFC200;  
    
}

.icons-lp{
    width: 100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.i-lp{
    width:30px
}

a{
    width: max-content;
    height: max-content;
    margin:0;
    padding:0;
    
}